extends layout

block content

	p Statistiques par #{view}

	canvas(id='myChart', width='500', height='500')

	script.
		$(document).ready(function() {

			var data = {
				labels : !{labels},
				datasets : [
					{
						fillColor : "rgba(220,220,220,0.5)",
						strokeColor : "rgba(220,220,220,1)",
						pointColor : "rgba(220,220,220,1)",
						pointStrokeColor : "#fff",
						data : #{data}
					}
				]
			}

			var ctx = $("#myChart").get(0).getContext("2d");
			var myNewChart = new Chart(ctx).Bar(data, {scaleBeginAtZero: true});
		});
