extends layout

block link
	- var selected = 'Liste';
	
block content
	h1= title
	p Welcome to #{title}

	span.badge.badge-inverse #{count}
	span films

	div(ng-controller='CinemaController')


		div(infinite-scroll='movieFactory.loadMore()', infinite-scroll-disabled='infinite-scroll.busy', infinite-scroll-distance='0')
			table.table
				tr
					th Titre
					th Date
					th Imdb
					th Actions
				tr.success(ng-repeat='movie in movieFactory.movies')
					td {{movie.title}}
					td {{movie.viewdate | dateFilter}}
					td
						div.btn-group
							a.btn.clickMyModal(href='#myModal', role='button', data-toggle='modal', movie-title='{{movie.title}}')
								i.glyphicon.glyphicon-search
					td
						div.btn-group
							a(href='/cinema/viewUpdate/{{movie._id}}')
								button.btn.btn-primary(type='button') Modifier
							a(href='/cinema/delete/{{movie._id}}')
								button.btn.btn-primary(type='button') Supprimer

			input(type='hidden', id="movieTitle", value="")

		div(ng-show='infinite-scroll.busy') Loading data...

	// Modal
	div#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') X
					h3#myModalLabel Titre
				div.modal-body
					p My movie details from IMDB
					img#poster(src='/images/wait.gif')
				div.modal-footer
					button.btn(data-dismiss='modal', aria-hidden='true') Close

	script.
		$(document).ready(function() {

			$('.clickMyModal').on('click', function () {
				$("#poster").attr("src","/images/wait.gif");
				$('#movieTitle').val($(this).attr('movie-title'));
				var param = "title=" + $('#movieTitle').val() + "&type=json&plot=simple&episode=1&limit=1&yg=0&mt=none&lang=en-US&offset=&aka=simple&release=simple&business=0&tech=0";
				console.log('http://mymovieapi.com/?'+param);
				$.getJSON('http://mymovieapi.com/?'+param, function(data) {
					console.log(data);
					$("#poster").attr("src",data[0].poster.cover);
				});
			});

			$('#myModall').on('show', function () {

				
			});
		});