extends layout

block link
	- var selected = 'Liste';
	
block content
	h1= title

	span.badge.badge-inverse #{count}
	span films

	div(ng-controller='CinemaController')

		div(infinite-scroll='movieFactory.loadMore()', infinite-scroll-disabled='infinite-scroll.busy', infinite-scroll-distance='0')
			table.table
				tr
					th Titre
					th Date
					th Score
					th Imdb
					th Actions
				tr.success(ng-repeat='entry in movieFactory.movies')
					td {{entry.movie.title}}
					td {{entry.viewdate | dateFilter}}
					td {{entry.score | percentFilter }}
					td
						div.btn-group
							a.btn.clickMovieModal(href='#movieModal', role='button', movie-title='{{entry.movie.title}}')
								i.glyphicon.glyphicon-search
					td
						div.btn-group
							a(href='/entry/viewUpdate/{{entry._id}}')
								button.btn.btn-primary(type='button') Modifier
							a(href='/entry/delete/{{entry._id}}')
								button.btn.btn-primary(type='button') Supprimer

			input(type='hidden', id="movieTitle", value="")

		div(ng-show='infinite-scroll.busy') Loading data...

	// Modal
	div#movieModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='movieModalLabel', aria-hidden='true')
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') X
					h3#movieModalLabel
				div.modal-body
					p My movie details from IMDB
					img#poster(src='/images/wait.gif')
				div.modal-footer
					button.btn(data-dismiss='modal', aria-hidden='true') Close

	script.
		$(document).ready(function() {
			$('.clickMovieModal').click(function (event) {
				//- alert('test');
				//- $("#poster").attr("src","/images/wait.gif");
				//- console.log('se : ' + $(this).attr('movie-title'));
				//- $('#movieTitle').val($(this).attr('movie-title'));
				//- $('#movieModalLabel').html($(this).attr('movie-title'));
				$('#movieModal').modal({
					show: true
				});
			});

			$('#movieModal').on('shown.bs.modal', function () {
				alert('show');
			});

		});