extends layout

block content
	h1= title
	p Welcome to #{title}

	span.badge.badge-inverse 86
	span films
	span
		input.input-medium.search-query(type='text')
		button.btn(type='submit') Search
	div(ng-controller='CinemaController')
		div(infinite-scroll='loadMore()', infinite-scroll-disabled='infinite-scroll.busy', infinite-scroll-distance='0')
			table.table
				tr
					th Titre
					th Date
					th Imdb
				- for (var i=0; i<3; i++)
					tr.success
						td Jack Reacher
						td 01-01-2013
						td
							div.btn-group
								a.btn(href='#myModal', role='button', class='btn', data-toggle='modal')
									i.glyphicon.glyphicon-search
				tr.success(ng-repeat='movie in movies')
					td {{movie.title}}
					td {{movie.viewdate}}
					td
						div.btn-group
							a.btn.clickMyModal(href='#myModal', role='button', data-toggle='modal', movie_title='{{movie.title}}')
								i.glyphicon.glyphicon-search

			div.pagination.pagination-centered
				ul
					li
						a(href='#') Prev
					li
						a(href='#') 1
					li
						a(href='#') 2
					li
						a(href='#') 3
					li
						a(href='#') 4
					li
						a(href='#') 5
					li
						a(href='#') Next

	div(ng-show='infinite-scroll.busy') Loading data...

	// Modal
	div#myModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		div.modal-header
			button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
			h3#myModalLabel Jack Reacher
		div.modal-body
			p My movie details from IMDB
			img#poster(src='/images/wait.gif')
		div.modal-footer
			button.btn(data-dismiss='modal', aria-hidden='true') Close

	script.
		$(document).ready(function() {
			$('#myModal').on('shown', function () {
				
				$.getJSON('http://mymovieapi.com/?title=Jack Reacher&type=json&plot=simple&episode=1&limit=1&yg=0&mt=none&lang=en-US&offset=&aka=simple&release=simple&business=0&tech=0', function(data) {
					console.log(data);
					$("#poster").attr("src",data[0].poster);
				});
				
			})
		});