extends layout

block content


	div#myCarousel.carousel.slide(data-interval="3000", data-ride="carousel")
		ol.carousel-indicators
			li.active(data-target="#myCarousel", data-slide-to="0")
			li(data-target="#myCarousel", data-slide-to="1")
			li(data-target="#myCarousel", data-slide-to="2")
		.carousel-inner
			.active.item
				h2 Vos entrées
				.carousel-caption
					p CinemaJS est une application permettant d'enregistrer vos entrées au cinéma.
			.item
				h2 Vos statistiques
				.carousel-caption
					p CinemaJS est une application permettant de générer vos statistiques d'entrées mensuelles et annuelles.
			.item
				h2 Vos partages sociaux
				.carousel-caption
					p CinemaJS est une application permettant de partager vos recommandations.
		//- a.carousel-control.left(href="#myCarousel", data-slide="prev")
		//- 	span.glyphicon.glyphicon-chevron-left
		//- a.carousel-control.right(href="#myCarousel", data-slide="next")
		//- 	span.glyphicon.glyphicon-chevron-right

	.jumbotron
		div(align="center")
			h1= title

		if(user == null)
			div(align="center")
				a(href="/auth/facebook", role="button")
					img(src="/images/login-with-facebook.png")

		div(ng-controller='IndexController')
			p Les dernières recommandations

			div(ng-show="ready")
				div(ng-repeat='entry in entries')
					div(ng-switch="currentEntry == $index", ng-animate="'animate'")
						div(ng-switch-when="true")
							ul.media-list
								li.media
									a.pull-left(href="/user/view/{{entry.user._id}}")
										img(ng-src="{{entry.user.photo}}")
									a(href="/user/view/{{entry.user._id}}")
										h4 {{entry.user.firstname}} {{entry.user.name}}
									span &nbsp;a vu le {{entry.viewdate | dateFilter}}
									span &nbsp;et recommande
										strong &nbsp;{{entry.movie.title}}
									span &nbsp;à {{entry.score | percentFilter}}
