extends layout

block content
	h1= title
	p Welcome to #{title}

	span CinemaJS est une application permettant d'enregistrer vos entrées au cinéma, de générer vos statistiques, et partager vos goûts de cinéphile.
