extends layout

block content

	.jumbotron
		h1= title
		p CinemaJS est une application permettant d'enregistrer vos entrées au cinéma, de générer vos statistiques, et partager vos recommandations.
		if(user == null)
			div(align="center")
				a(href="/auth/facebook", role="button")
					img(src="/images/login-with-facebook.png")

		div(ng-controller='IndexController')
			p Les dernières recommandations

			div(ng-show="ready", ng-animate="'animate'")
				div(ng-repeat='entry in entries')
					div(ng-switch="currentEntry == $index")
						div(ng-switch-when="true")
							ul.media-list
								li.media
									a.pull-left(href="/user/view/{{entry.user._id}}")
										img(ng-src="{{entry.user.photo}}")
									a(href="/user/view/{{entry.user._id}}")
										h4 {{entry.user.firstname}} {{entry.user.name}}
									span &nbsp;a vu le {{entry.viewdate | dateFilter}}
									span &nbsp;et recommande
										strong &nbsp;{{entry.movie.title}}
									span &nbsp;à {{entry.score | percentFilter}}

