extends layout

block content

	p
	.jumbotron
		h1= title
		p CinemaJS est une application permettant d'enregistrer vos entrées au cinéma, de générer vos statistiques, et partager vos recommandations.
		if(user == null)
			div(align="center")
				a(href="/auth/facebook", role="button")
					img(src="/images/login-with-facebook.png")

	div(ng-controller='IndexController')
		p Les {{entries.length}} dernières recommandations
		ul
			li(ng-repeat='entry in entries')
				a(href="/user/view/{{entry.user._id}}")
					img(ng-src="{{entry.user.photo}}")
					span {{entry.user.firstname}} {{entry.user.name}}
				span &nbsp;recommande {{entry.movie.title}} 
				span &nbsp;à {{entry.score | percentFilter}}
