doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/datepicker/css/datepicker.css')
			
		script(src='/javascripts/jquery-1.9.1.min.js')
		script(src='/bootstrap/js/bootstrap.js')
		script(src='/datepicker/js/bootstrap-datepicker.js')

	body

		div.container-fluid
			div.row-fluid
				div.span12
					div.navbar.navbar-fixed-top.navbar-inverse
						div.navbar-inner
							div.container-fluid
								a(data-target='.navbar-responsive-collapse',data-toggle='collapse').btn.btn-navbar
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a(href='/cinema').brand #{title}
								div.nav-collapse.collapse.navbar-responsive-collapse
									ul.nav
										li.active
											a(href='/cinema') Liste
										li
											a(href='/cinema/viewAdd') Ajouter un film

									ul.nav.pull-right
										li.divider-vertical
										li.dropdown
											a(href='#',data-toggle='dropdown').dropdown-toggle Graphiques
												strong.caret
											ul.dropdown-menu
												li
													a(href='#') Par an
												li.divider
												li
													a(href='#') Par mois
		block content